@import "tailwindcss";

@theme {
  --font-bebas: var(--font-bebas);
  --font-barlow: var(--font-barlow);
  --font-staatliches: var(--font-staatliches);
  --font-fugaz: var(--font-fugaz);
}

body {
  background-color: #1a1c19;
  color: white;
}